{
    "presets": ["es2015", "react", "stage-2"],
    "env": {
        "development": {
            "presets": ["react-hmre"]
        }
    }
}
git clone git@github.com:ninechapter/LintCodeJudge.git
git clone git@github.com:ninechapter/LintCode.git
git clone git@github.com:ninechapter/NineChapter.git
vagrant box add ubuntu/trusty64 
